.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header_group {
display: flex;
justify-content: space-between;
background: black;
color: white;

}

.right_group {
display: flex;
justify-content: flex-end;
margin: 5px;
align-items: center;
}

.right_group div {
    padding: 0 10px;
}

.left_group {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    align-items: center;

}

.menu_equipment {
    padding: 5;
}